<!DOCTYPE html>
<html>
  <head>
    <title>Registro de usuario</title>
  </head>
  <body>
    <h1>Registro de usuario</h1>
    <form method="POST" action="/registro">
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre"><br>

      <label for="correo_electronico">Correo electrónico:</label>
      <input type="email" name="correo_electronico"><br>

      <label for="contrasena">Contraseña:</label>
      <input type="password" name="contrasena"><br>

      <input type="submit" value="Registrarse">
      <input type="submit" value="Ver Datos" formmethod="GET">
    </form>

  </body>
</html>